---
layout: boilerplate
---

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"46557cb27305d2a312cb4ab71","lid":"aa0fcc2122"}) })</script>

<div class="desktop-content">
	<div class="row full-width index-large-image"></div>
</div>
<div class="mobile-content">
	<div class="row full-width index-large-image-mob"></div>
</div>


<div class="row index-about topbottompadding" id="about">
	<div class="row rowpadding">
		<div class="small-12 medium-12 large-12 columns">
			<div class="hello">
				<img src="assets/images/hello_roundel.svg"/>
			</div>
			<h1>CLEMENTINE OLIVER WAS STARTED IN SPRING 2013 BY LIZ HARRIS. AN IDEA BROUGHT ON AFTER TAKING A BREAK FROM THE INTERIORS INDUSTRY FOR THE BIRTH OF HER CHILDREN, CLEMENTINE AND OLIVER.</h1>

			<div class="mobile-content">
				<div class="fullwidth-center">
					<div class="link mob-about-slide">read more > </div>
					<div class="link mob-about-slide-up">show less < </div>
				</div>
			</div>

			<div class="row mobile-about about desktop-content">
				<div class="small-12 large-6 columns">
					<p>Liz has worked with fabrics since the late 1990’s during her time at Osborne & Little, Andrew Martin and Evitavonni. With the ever changing market, Clementine Oliver aims to offer a timeless and</p>
				</div>
				<div class="small-12 large-6 columns">
					<p>classic range of <span class="orangetext">fabrics</span> with a fresh, modern and easy approach. A wide range of funky colours and classic muted shades of <span class="orangetext">wool flannels, satins</span> and <span class="orangetext">tweed, mixed</span> with <span class="orangetext">linen, velvet</span> and <span class="orangetext">faux suede</span>.</p>
				</div>
			</div>

			<div class="mobile-content">
				<div class="row mobile-about about-combined about">
					<div class="small-12 columns">
						<p>Liz has worked with fabrics since the late 1990’s during her time at Osborne & Little, Andrew Martin and Evitavonni. With the ever changing market, Clementine Oliver aims to offer a timeless and classic range of <span class="orangetext">fabrics</span> with a fresh, modern and easy approach. A wide range of funky colours and classic muted shades of <span class="orangetext">wool flannels, satins</span> and <span class="orangetext">tweed, mixed</span> with <span class="orangetext">linen, velvet</span> and <span class="orangetext">faux suede</span>.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="index-samples topbottompadding" id="samples">
	<div class="row">
		<div class="small-12 medium-12 large-6 columns sample">
			<img src="assets/images/clementine_oliver_box_still_life.png"/>
		</div>
		<div class="small-12 medium-12 large-6 columns">
			<div class="desktop-content">
				<h1>THE CLEMENTINE SAMPLE BOX</h1>
				<p>All sampling is free and comes in our zingy Clementine Box. Designed to be compact and very easy to use, no need to take up valuable space in your office. You can just keep it on your desk.</p>

				<p>As new products and colours are launched we will send them over for you to add to the mix. To order a Clementine Box with the full range of samples please get in touch via the link below</p>

				<a href="mailto:liz@clementineoliver.com?subject=Hello"><div class="orangebutton">GET IN TOUCH</div></a>
			</div>
			<div class="mobile-content">
				<a href="mailto:liz@clementineoliver.com?subject=Hi, I would like to request a free sample box"><div class="orangebutton">REQUEST A SAMPLE BOX</div></a>
			</div>
		</div>
	</div>
</div>

<div class="index-gallery "  id="gallery">
	<div class="gallery">
		<div class="lines"></div>
		<div class="gallery-image">
			<img src="assets/images/gallery.svg"/>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-12 columns images">
			<div id="freewall">
				<div class="mobile-content">
					{% for image in site.data.gallery.gallery %}
						<article>
			            	<div class="block">
			            		<div class="entry-content">
			                    	<a href="assets/images/mobile/{{ image.name }}" data-lightbox="image-1"><img src="assets/images/mobile/thumbs/{{ image.name }}"/></a>
			                	</div>
			                </div>
			            </article>
					{% endfor %}
				</div>

				<div class="desktop-content">
					{% for image in site.data.gallery.gallery %}
						<article>
			            	<div class="block">
			            		<div class="entry-content">
			                    	<a href="assets/images/{{ image.name }}" data-lightbox="image-1"><img src="assets/images/thumbs/{{ image.name }}"/></a>
			                	</div>
			                </div>
			            </article>
					{% endfor %}
				</div>

			 </div>
		</div>
	</div>
	<div class="orange">
		<div class="lines"></div>
		<div class="orange-image">
			<img src="assets/images/clementine.svg"/>
		</div>
	</div>
</div>

<div class="index-contact topbottompadding" id="contact">
	<div class="row">
		<div class="small-12  large-6 columns desktop-content">
			<h2>CLEMENTINE OLIVER</h2>
				<p>With the ever changing market, Clementine Oliver aims to offer a timeless and classic range of fabrics with a fresh, modern and easy approach. A wide range of funky colours and classic muted shades of wool flannels, satins and tweed, mixed with linen, velvet and faux suede.</p>
		</div>

		<div class="small-12 medium-12 large-4 columns">
			<h2>CONTACT</h2>
				<a href="tel:7974 193663"><p>T: + 44 (0) 7974 193663</p></a>
				<a href="mailto:liz@clementineoliver.com"><p>E: liz@clementineoliver.com</p></a>
		</div>

		<div class="small-12 medium-12 large-2 columns toppadding">
			<h2>SOCIAL</h2>
				<a href="https://twitter.com/Clementineolvr" target="blank"><p>Twitter</p></a>
				<a href="http://instagram.com/clementineoliver" target="blank"><p>Instagram</p></a>
		</div>

	</div>
</div>
