<div class="footer">
	<div class="row">
		<div class="large-12 columns desktop-content">
			<p>Copyright © 2014 Clementine Oliver <span>|</span> Website : <a href="/fst-uk.com">fst-uk.com</a> <span>|</span> Photography by <a href="/buttercupphotography.co.uk">buttercupphotography.co.uk</a></p>
			<p>Company Registration Number: 08450072  <span> </span>VAT : GB161846596 </p>
		</div>
		<div class="small-12 medium-12 columns mobile-content">
			<p>Copyright © 2014 Clementine Oliver </p><p> Website : <a href="/fst-uk.com">fst-uk.com</a> </p><p> Photography by <a href="/buttercupphotography.co.uk">buttercupphotography.co.uk</a></p><p>Registration Number: 08450072</p><p>VAT : GB161846596
		</div>
	</div>
</div>