<div class="indexheader">
	<div class="menubackground"></div>
	<div class="row menu">
		<div class="small-4 large-5 columns desktop-content"><ul class="right"><li><a data-scroll href="#about">About Us</a></li><li><a data-scroll href="#samples">Samples</a></li></ul></div>
		<div class="small-12 medium-12 large-2 columns logo"><img src="assets/images/logo.svg"/></div>
		<div class="small-4 large-5 columns desktop-content"><ul class="left"><li><a data-scroll href="#gallery">Gallery</a></li><li><a data-scroll href="#contact">Contact Us</a></li></ul></div>
	</div>
</div>